@import './typography';
@import './colors';
@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  body {

    #root {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      padding: $padding $padding 40px;
      min-height: 100vh;
      font-family: sans-serif;
      background-color: $background;

      .content {
        width: 100%;
      }
    }
  }
}

@include smallLaptop {
  html {
    body {
      #root {
        .content {
          width: 830px;
        }
      }
    }
  }
}