@import './typography';
@import './colors';
@import './variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

    #root {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: $padding;
      height: 100%;
      font-family: sans-serif;
      background-color: $background;
    }
  }
}