@import './mixins';
@import './colors';

h1, h2, p, span, label {
  color: $textWhite;
}

a {
  color: $primary;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: #171616;
  @include pxToRem(font-size, 20);
}

h2 {
  @include pxToRem(font-size, 24);
}

p {
  @include pxToRem(font-size, 16);
  line-height: 2;

  &.small {
    @include pxToRem(font-size, 12);
  }

  &.highlight {
    font-weight: 600;
  }
}

@include smallLaptop {
  a {
    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
  }
}