.content {
  h2 {
    text-align: center;
  }

  .user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .avatar {
      display: block;
      margin: 0 auto;
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }

    .about {
      display: flex;
      flex-direction: row;
    }
  }
}