@import '../../../styles/variables';
@import '../../../styles/colors';
@import '../../../styles/mixins';

nav {
  position: absolute;
  top: 80px;
  left: $padding;

  a {
    display: block;
    line-height: 2;
  }

  .hamburger {
    position: relative;
    width: 25px;
    height: 20px;
    padding: 0;
    border: 0;
    background: transparent;

    span {
      display: block;
      height: 1px;
      background: $textWhite;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: inherit;
        height: inherit;
        background: $textWhite;
        transition: all 100ms;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    &.open {
      span {
        &:before {
          width: 15px;
          transform: rotate(-45deg) translate(-5px, 1px);
        }

        &:after {
          width: 15px;
          transform: rotate(45deg) translate(-5px, -1px);
        }
      }
    }
  }

  .navigation {
    display: none;
    opacity: 0;
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
    background: $neutralLight;
    transition: opacity 100ms;

    a {
      color: $background;
      font-weight: 600;

      &.active {
        color: $primary;
      }
    }

    &.open {
      display: block;
      opacity: 1;
    }
  }
}

@include tablet {
  nav {
    top: 65px;
    right: 15px;

    .navigation {
      display: flex;
      justify-content: center;
      opacity: 1;
      margin-top: 5px;
      background-color: $neutralLight;

      div {
        display: flex;
        justify-content: space-around;
        flex: 1;
      }

      a {
        &.active {
          color: $primaryDark;
        }

        &:focus, &:active {
          background: transparent;
        }
      }
    }
  }
}

@include smallLaptop {
  nav {
    .navigation {

      div {
        justify-content: space-between;
        flex: unset;
      }
    }
  }
}