@import '../../../styles/variables';
@import '../../../styles/colors';

nav {
  position: absolute;
  top: 80px;
  left: $padding;

  a {
    display: block;
    line-height: 2;
  }

  .hamburger {
    position: relative;
    width: 25px;
    height: 20px;
    padding: 0;
    border: 0;
    background: transparent;

    span {
      display: block;
      height: 1px;
      background: #ffffff;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: inherit;
        height: inherit;
        background: #ffffff;
        transition: all 100ms;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    &.open {
      span {
        &:before {
          width: 15px;
          transform: rotate(-45deg) translate(-5px, 1px);
        }

        &:after {
          width: 15px;
          transform: rotate(45deg) translate(-5px, -1px);
        }
      }
    }
  }

  .navigation {
    opacity: 0;
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
    background: $neutralLight;
    transition: opacity 100ms;

    a {
      color: $background;
      font-weight: 600;

      &.active {
        color: $primary;
      }
    }

    &.open {
      opacity: 1;
    }
  }
}